databases:
- name: posthog
  databaseName: posthog
  user: posthog
  postgresMajorVersion: 14
  plan: basic-256mb # PostHog can quickly use up hundreds of MBs of disk space, depending on the volume of analytics

services:
- type: web
  name: posthog
  env: docker
  dockerfilePath: ./server/Dockerfile
  dockerContext: ./server
  autoDeploy: false
  envVars:
  - key: IS_BEHIND_PROXY
    value: 1
  - key: IS_DOCKER
    value: true
  - key: POSTHOG_REDIS_HOST
    fromService:
      name: posthog-redis
      type: keyvalue
      property: host
  - key: POSTHOG_REDIS_PORT
    fromService:
      name: posthog-redis
      type: keyvalue
      property: port
  - key: DATABASE_URL
    fromDatabase:
      name: posthog
      property: connectionString
  - key: SECRET_KEY
    generateValue: true
  - key: DEPLOYMENT
    value: render

- type: keyvalue
  name: posthog-redis
  ipAllowList: []

- type: worker
  name: posthog-worker
  env: docker
  dockerfilePath: ./worker/Dockerfile
  dockerContext: ./worker
  numInstances: 1
  autoDeploy: false
  envVars:
  - key: POSTHOG_REDIS_HOST
    fromService:
      name: posthog-redis
      type: keyvalue
      property: host
  - key: POSTHOG_REDIS_PORT
    fromService:
      name: posthog-redis
      type: keyvalue
      property: port
  - key: DATABASE_URL
    fromDatabase:
      name: posthog
      property: connectionString
  - key: IS_DOCKER
    value: true
  - key: SECRET_KEY
    generateValue: true
  - key: DEPLOYMENT
    value: render

- type: worker
  name: posthog-plugin-server
  env: docker
  dockerfilePath: ./plugin-server/Dockerfile
  dockerContext: ./plugin-server
  numInstances: 1
  autoDeploy: false
  envVars:
  - key: POSTHOG_REDIS_HOST
    fromService:
      name: posthog-redis
      type: keyvalue
      property: host
  - key: POSTHOG_REDIS_PORT
    fromService:
      name: posthog-redis
      type: keyvalue
      property: port
  - key: DATABASE_URL
    fromDatabase:
      name: posthog
      property: connectionString
  - key: DEPLOYMENT
    value: render
